* {
  font-family: 'Open Sans', sans-serif;
}

body {
  background: white url(./Images/funky-lines.png);
}

button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.App {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 400px 1fr;
  background-repeat: repeat;
  margin: 40px 0px;
}

.Left .Settings {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.Left .Settings input {
  border: 0;
  border-bottom: 1px solid #d0cdd7;
  width: 100%;
  padding: 8px 4px;
}

.Left .NotesList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2px;
}

.Left .Note {
  font-family: arial, sans-serif;
  padding: 8px;  
  background: #e2e4f6;
  cursor: pointer;
}

.Left .Note h3 {
  font-weight: 200;
}

.Left .Note.active h3 {
  font-weight: 600;
}

.Left .Note p {
  font-size: 0.8rem;
  padding: 8px 16px;
  white-space: pre-line;
  line-height: 20px;
}

.Right {
  background: #edecf0;  
}

.Right .TextControls {
  display: flex;
  justify-content: space-between;
}

.Right .TextControls ul {
  margin: 8px;
  padding: 0;
  list-style: none;
}

.Right .TextControls li {
  display: inline-block;
}

.Right input {
  border: 0;
  border-bottom: 1px solid #d0cdd7;
  width: 100%;
  padding: 8px 16px;
  
}

.Right textarea {
  border: 0;
  width: 100%;
  padding: 0 16px;
  background: transparent;
}
